<div class="card m-3">
    <h5 class="card-header">{{'insuranceCoverage_menu' | translate}}</h5>
    <div class="card-body">
        <form [formGroup]="itemForm" autocomplete="off"  (keydown.enter)="$event.preventDefault()" (ngSubmit)="save()">
            <div class="form-row">
               
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'insurance_lbl' | translate}}</label>
                    <select class="form-control"
                    formControlName="insuranceId"
                    >
                    <option *ngFor="let insurance of insurances"
                     [value]="insurance.id"
                     >{{insurance.name}}</option>
                    </select>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'insurancePlan_lbl' | translate}}</label>
                    <select class="form-control"
                    formControlName="insurancePlanId"
                    >
                    <option *ngFor="let insurancePlan of insurancePlans"
                     [value]="insurancePlan.id"
                     >{{insurancePlan.name}}</option>
                    </select>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'consultation_lbl' | translate}}</label>
                    <select class="form-control"
                    formControlName="productId"
                    [ngClass]="{ 'is-invalid':form.productId && form.productId.errors }"
                    required
                    >
                    <option *ngFor="let product of products"
                     [value]="product.id"
                     >{{product.name}}</option>
                    </select>
                   
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'currency_lbl' | translate}}</label>
                    <select class="form-control"
                    formControlName="currencyId"
                    [ngClass]="{ 'is-invalid': form.currencyId &&form.currencyId.errors }"
                    required
                    >
                    <option *ngFor="let currency of currencies"
                     [value]="currency.id"
                     >{{currency.name}}</option>
                    </select>
                   
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'price_lbl' | translate}}</label>
                    <select class="form-control"
                    formControlName="consultationPrice"
                    [ngClass]="{ 'is-invalid':form.consultationPrice && form.consultationPrice.errors }"
                    required
                    >
                    <option *ngFor="let productPrice of productPrices"
                     [value]="productPrice"
                     >{{productPrice | currency:""}}</option>
                    </select>
                   
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'coverageAmount_lbl' | translate}}</label>
                    <input type="number" formControlName="coverageAmount"  min="1" class="form-control" [ngClass]="{ 'is-invalid': form.coverageAmount && form.coverageAmount.errors }" />
                    <div *ngIf="form.coverageAmount && form.coverageAmount.errors" class="invalid-feedback">
                        <div *ngIf="form.coverageAmount && form.coverageAmount.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
               
            </div>
           
            
            <div class="text-center">
                <button *ngIf="this.permits.add || this.permits.update" class="btn btn-primary mr-1">{{'save_btn' | translate}}</button>
                <button class="btn btn-secondary" type="reset" (click)="cancel()">{{'cancel_btn' | translate}}</button>
            </div>
        </form>
    </div>
</div>
