<nb-card>
  <nb-card-header>
    <div class="form-row">
      <div class="col-md-6 col-xs-12">{{'appointments_lbl' | translate}}</div>

    </div>
    <br>
    <form [formGroup]="itemForm" (ngSubmit)="save()">
   <div class="row" *ngIf="visible">
    <div class="form-group col-md-6 col-xs-12">
      <label>{{'hospital_lbl' | translate}}</label>
      <select class="form-control"
      formControlName="branchOfficeId"
      >
      <option *ngFor="let branchOffice of hospitals"
       [value]="branchOffice.id"
       >{{branchOffice.name}}</option>
      </select>
  </div>
  <div class="form-group col-md-6 col-xs-12">
    <label>{{'consultationType_lbl' | translate}}</label>
    <select class="form-control"
    formControlName="type"
    >
    <option *ngFor="let typeObj of types"
     [value]="typeObj.id"
     >{{typeObj.name}}</option>
    </select>
</div>
  <div class="form-group col-md-6 col-xs-12">
    <label>{{'medicalSpecialty_lbl' | translate}}</label>
    <select class="form-control"
    formControlName="medicalSpecialityId"
    >
    <option *ngFor="let medicalSpeciality of medicalSpecialities"
     [value]="medicalSpeciality.id"
     >{{medicalSpeciality.name}}</option>
    </select>
</div>

<div class="form-group col-md-6 col-xs-12">
  <label>{{'doctor_lbl' | translate}}</label>
  <select class="form-control"
  formControlName="doctorId"
  >
  <option *ngFor="let doctor of doctors"
   [value]="doctor.userId"
   >{{doctor.name}} {{doctor.lastName}}</option>
  </select>
</div>

<div class="form-group col-md-6 col-xs-12">
  <label>{{'patient_lbl' | translate}}</label>
  <custom-auto-complete
 
  [items]="patients"
  [externalSearch]="true"
  [propertyToShow]="'name'"
  (onSelectedItem)="selectPatient($event)"
  (onFilter)="getPatients($event)"
  
  >
  
  </custom-auto-complete>
  <!-- <select class="form-control"
  formControlName="patientId"
  >
  <option *ngFor="let patient of patients"
   [value]="patient.id"
   >{{patient.name}}</option>
  </select> -->
</div>

   </div>

  </form>



  </nb-card-header>

  <nb-card-body>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Previous
          </div>
          <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Today
          </div>
          <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Next
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>

    </div>
    <br />
    <div >
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        (beforeViewRender)="beforeMonthViewRender($event)"
      >
      </mwl-calendar-month-view>
    </div>

    <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

    <br /><br /><br />



    <div class="table-responsive scrollTableMobile">
      <div class="row" *ngIf="selectedDate && selectedDate>=today">
        <div class=" col-4">
          <button type="button" class="btn btn-primary" *ngIf="this.permits.add"  (click)="addNew()"><i>{{'add_btn' |translate}}</i></button>
        </div>
       <div class="col-6">
         <div class="row">
           <div class="col-6">
            <p>{{'selectedDate_lbl' | translate}}: </p>
           </div>
           <div class="col-6">
            <h6>{{getSelectedDateFormatted()}}</h6>
          </div>
         </div>

       </div>

      </div>

      <br /><br />
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{{'doctor_lbl' | translate}}</th>
            <th>{{'medicalSpecialities_menu' | translate}}</th>
            <th>{{'consultation_lbl' | translate}}</th>
            <th>{{'patient_lbl' | translate}}</th>
            <th>{{'insurance_lbl' | translate}}</th>
            <th>{{'insurancePlan_lbl' | translate}}</th>
            <th>{{'time_lbl' | translate}}</th>
            <th>{{'totalAmount_lbl' | translate}}</th>
            <th>{{'state_lbl' | translate}}</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let appointment of selectedAppointments">
            <td>{{appointment.doctorName}}</td>
            <td>{{appointment.medicalSpecialityName}}</td>
            <td>{{appointment.productName}}</td>
            <td>{{appointment.patientName}}</td>
            <td>{{appointment.insuranceName}}</td>
            <td>{{appointment.insurancePlanName}}</td>
            <td>{{appointment.appointmentHourString}}</td>
            <td>{{appointment.totalAmount | currency:""}}</td>
            <td>{{getStatusDescription(appointment.state)}}</td>
            <td>
              <button mat-button [matMenuTriggerFor]="menu">{{'actions_lbl' | translate}}</button>
<mat-menu #menu="matMenu">
  <button *ngIf="(appointment.state=='S' || appointment.state=='F'  || appointment.state=='E') && appointment.appointmentType=='C' && isUserValidOperation(21)" (click)="attendAppointment(appointment)"  mat-menu-item>{{'attend_btn' | translate}}</button>
  <button *ngIf="(appointment.state=='S' || appointment.state=='F'  || appointment.state=='E') && this.permits.update" (click)="editAppointment(appointment)"  mat-menu-item>{{'edit_btn' | translate}}</button>
  <button *ngIf="(appointment.state=='S'  || appointment.state=='E') && this.permits.delete" (click)="removeAppointment(appointment)"  mat-menu-item>{{'delete_btn' | translate}}</button>
  <button (click)="printAppointment(appointment)" mat-menu-item>{{'print_lbl' | translate}}</button>
</mat-menu>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Action:
          <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
          Event:
          <pre>{{ modalData?.event | json }}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          OK
        </button>
      </div>
    </ng-template>
  </nb-card-body>
</nb-card>

