source/.vs/PointOfSalesV2/DesignTimeBuild/.dtbcache
source/.vs/PointOfSalesV2/DesignTimeBuild/.dtbcache.v2
source/PointOfSalesV2.Api/bin/
source/PointOfSalesV2.Api/obj/
source/PointOfSalesV2.Common/bin/
source/PointOfSalesV2.Common/obj/
source/PointOfSalesV2.Console/obj/
source/PointOfSalesV2.Entities/bin/
source/PointOfSalesV2.Entities/obj/
source/PointOfSalesV2.EntityFramework/bin/
source/PointOfSalesV2.EntityFramework/obj/
source/PointOfSalesV2.Repository/bin/
source/PointOfSalesV2.Repository/obj/
source/PointOfSalesV2.Test/obj/
source/PointOfSalesV2.Console/bin/
source/PointOfSalesV2.Test/bin/
source/.vs/PointOfSalesV2/v16/.suo
source/PointOfSalesV2.Api/wwwroot/Files/
source/PointOfSalesV2.Repository.Tests/bin/
source/PointOfSalesV2.Repository.Tests/obj/
source/.vs/PointOfSalesV2/config/applicationhost.config
source/.vs/PointOfSalesV2/FileContentIndex/322c7ced-fab3-4a87-afdf-7429ac01166b.vsidx
source/.vs/PointOfSalesV2/FileContentIndex/3e2f72ad-e4f1-4551-92b9-eb773913a0de.vsidx
source/.vs/PointOfSalesV2/FileContentIndex/d53d9f91-591e-49f4-be5d-701effe71cd7.vsidx
source/.vs/PointOfSalesV2/FileContentIndex/read.lock
source/.vs/PointOfSalesV2/v17/.futdcache.v2
source/.vs/PointOfSalesV2/v17/.suo
source/.vs/PointOfSalesV2/v17/fileList.bin
source/.vs/ProjectEvaluation/pointofsalesv2.metadata.v3
source/.vs/ProjectEvaluation/pointofsalesv2.projects.v3
source/PointOfSalesV2.FrontEnd/ClientApp/package-lock.json
source/PointOfSalesV2.FrontEnd/ClientApp/package-lock.json
source/.vs/PointOfSalesV2/v17/fileList.bin
*.vsidx
source/PointOfSalesV2.Controllers/bin/Debug/net6.0/PointOfSalesV2.Controllers.deps.json
source/PointOfSalesV2.Controllers/bin/Debug/net6.0/PointOfSalesV2.Controllers.dll
source/PointOfSalesV2.Controllers/bin/Debug/net6.0/PointOfSalesV2.Controllers.pdb
source/PointOfSalesV2.Controllers/bin/Debug/net6.0/PointOfSalesV2.Entities.dll
source/PointOfSalesV2.Controllers/bin/Debug/net6.0/PointOfSalesV2.Entities.pdb
source/PointOfSalesV2.Controllers/bin/Debug/net6.0/PointOfSalesV2.EntityFramework.dll
source/PointOfSalesV2.Controllers/bin/Debug/net6.0/PointOfSalesV2.EntityFramework.pdb
source/PointOfSalesV2.Controllers/bin/Debug/net6.0/PointOfSalesV2.Repository.dll
source/PointOfSalesV2.Controllers/bin/Debug/net6.0/PointOfSalesV2.Repository.pdb
source/PointOfSalesV2.Controllers/obj/Debug/net6.0/PointOfSalesV2.Controllers.assets.cache
source/PointOfSalesV2.Controllers/obj/Debug/net6.0/PointOfSalesV2.Controllers.csproj.AssemblyReference.cache
source/PointOfSalesV2.Controllers/obj/Debug/net6.0/PointOfSalesV2.Controllers.csproj.CoreCompileInputs.cache
source/PointOfSalesV2.Controllers/obj/Debug/net6.0/PointOfSalesV2.Controllers.dll
source/PointOfSalesV2.Controllers/obj/Debug/net6.0/PointOfSalesV2.Controllers.pdb
source/PointOfSalesV2.Controllers/obj/Debug/net6.0/ref/PointOfSalesV2.Controllers.dll
source/PointOfSalesV2.Controllers/obj/Debug/net6.0/refint/PointOfSalesV2.Controllers.dll
source/PointOfSalesV2.Controllers/obj/PointOfSalesV2.Controllers.csproj.nuget.dgspec.json
source/PointOfSalesV2.Controllers/obj/project.assets.json
source/PointOfSalesV2.Controllers/obj/project.nuget.cache
