<div class="card m-3">
    <h5 class="card-header">{{'patientCheckups_menu' | translate}}</h5>
    <div class="card-body">
        <form [formGroup]="itemForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="save()">
            <div class="form-row">
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'doctor_lbl' | translate}}</label>
                    <input type="text" formControlName="doctorName" 
                    disabled class="form-control" [ngClass]="{ 'is-invalid':form.doctorName && form.doctorName.errors }" />
                    <div *ngIf="form.doctorName && form.doctorName.errors" class="invalid-feedback">
                        <div *ngIf="form.doctorName && form.doctorName.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'name_lbl' | translate}}</label>
                    <input type="text" formControlName="patientName"  disabled class="form-control" [ngClass]="{ 'is-invalid': form.patientName.errors }" />
                    <div *ngIf="form.patientName.errors" class="invalid-feedback">
                        <div *ngIf="form.patientName.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
           </div>
           <div class="row">
            <nb-accordion style="width: 100%;" class="my-2">

                <nb-accordion-item>
                    <nb-accordion-item-header>{{'patientInfo_lbl' | translate}}</nb-accordion-item-header>
                    <nb-accordion-item-body>
                   
               <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'alergies_lbl' | translate}}</label>
                    <textarea 
                    formControlName="alergies" 
                    maxlength="1000" 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': form.alergies.errors }"
                    ></textarea>
                    <div *ngIf="form.alergies.errors" class="invalid-feedback">
                        <div *ngIf="form.alergies.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'bloodTransfusions_lbl' | translate}}</label>
                    <textarea 
                    formControlName="bloodTransfusions" 
                    maxlength="1000" 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': form.bloodTransfusions.errors }"
                    ></textarea>
                    <div *ngIf="form.bloodTransfusions.errors" class="invalid-feedback">
                        <div *ngIf="form.bloodTransfusions.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'familyIllnesses_lbl' | translate}}</label>
                    <textarea 
                    formControlName="familyIllnesses" 
                    maxlength="1000" 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': form.familyIllnesses.errors }"
                    ></textarea>
                    <div *ngIf="form.familyIllnesses.errors" class="invalid-feedback">
                        <div *ngIf="form.familyIllnesses.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'medications_lbl' | translate}}</label>
                    <textarea 
                    formControlName="medications" 
                    maxlength="1000" 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': form.medications.errors }"
                    ></textarea>
                    <div *ngIf="form.medications.errors" class="invalid-feedback">
                        <div *ngIf="form.medications.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'surgeries_lbl' | translate}}</label>
                    <textarea 
                    formControlName="surgeries" 
                    maxlength="1000" 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': form.surgeries.errors }"
                    ></textarea>
                    <div *ngIf="form.surgeries.errors" class="invalid-feedback">
                        <div *ngIf="form.surgeries.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'sc_lbl' | translate}}</label>
                    <input type="number" min="0" step="0.1" formControlName="sc"  class="form-control" [ngClass]="{ 'is-invalid': form.sc.errors }" />
                   
                </div>

               

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'sizeCm_lbl' | translate}}</label>
                    <input type="number" min="0" step="0.1" formControlName="size"  class="form-control" [ngClass]="{ 'is-invalid': form.size.errors }" />
                   
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'weightKg_lbl' | translate}}</label>
                    <input type="number" min="0" step="0.1" formControlName="weight"  class="form-control" [ngClass]="{ 'is-invalid': form.weight.errors }" />
                   
                </div>
               </div>
          
                    </nb-accordion-item-body>
                   </nb-accordion-item>

                   <nb-accordion-item>
                    <nb-accordion-item-header>{{'physicalExam_lbl' | translate}}</nb-accordion-item-header>
                    <nb-accordion-item-body>
                   
               <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'physicalExamHeadNeck_lbl' | translate}}</label>
                    <textarea formControlName="physicalExamHeadNeck"  maxlength="500"  class="form-control" [ngClass]="{ 'is-invalid': form.physicalExamHeadNeck.errors }"></textarea>
                    <div *ngIf="form.physicalExamHeadNeck.errors" class="invalid-feedback">
                        <div *ngIf="form.physicalExamHeadNeck.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'physicalExamChest_lbl' | translate}}</label>
                    <textarea formControlName="physicalExamChest" maxlength="500"  class="form-control" [ngClass]="{ 'is-invalid': form.physicalExamChest.errors }"></textarea>
                    <div *ngIf="form.physicalExamChest.errors" class="invalid-feedback">
                        <div *ngIf="form.physicalExamChest.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'physicalExamHeart_lbl' | translate}}</label>
                    <textarea formControlName="physicalExamHeart" maxlength="500"  class="form-control" [ngClass]="{ 'is-invalid': form.physicalExamHeart.errors }"></textarea>
                    <div *ngIf="form.physicalExamHeart.errors" class="invalid-feedback">
                        <div *ngIf="form.physicalExamHeart.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'physicalExamLungs_lbl' | translate}}</label>
                    <textarea formControlName="physicalExamLungs" maxlength="500"  class="form-control" [ngClass]="{ 'is-invalid': form.physicalExamLungs.errors }"></textarea>
                    <div *ngIf="form.physicalExamLungs.errors" class="invalid-feedback">
                        <div *ngIf="form.physicalExamLungs.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'physicalExamStomach_lbl' | translate}}</label>
                    <textarea formControlName="physicalExamStomach" maxlength="500"  class="form-control" [ngClass]="{ 'is-invalid': form.physicalExamStomach.errors }"></textarea>
                    <div *ngIf="form.physicalExamStomach.errors" class="invalid-feedback">
                        <div *ngIf="form.physicalExamStomach.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'physicalExamExtremities_lbl' | translate}}</label>
                    <textarea formControlName="physicalExamExtremities" maxlength="500"  class="form-control" [ngClass]="{ 'is-invalid': form.physicalExamExtremities.errors }"></textarea>
                    <div *ngIf="form.physicalExamExtremities.errors" class="invalid-feedback">
                        <div *ngIf="form.physicalExamExtremities.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

               
               </div>
          
                    </nb-accordion-item-body>
                   </nb-accordion-item>
                   <nb-accordion-item>
                    <nb-accordion-item-header>{{'checkupInfo_lbl' | translate}}</nb-accordion-item-header>
                    <nb-accordion-item-body>
                   
               <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'symptoms_lbl' | translate}}</label>
                    <textarea formControlName="symptoms" minlength="1" maxlength="2000" required class="form-control" [ngClass]="{ 'is-invalid': form.symptoms.errors }"></textarea>
                    <div *ngIf="form.symptoms.errors" class="invalid-feedback">
                        <div *ngIf="form.symptoms.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'diagnoses_lbl' | translate}}</label>
                    <textarea formControlName="diagnoses" minlength="1"maxlength="2000" required class="form-control" [ngClass]="{ 'is-invalid': form.diagnoses.errors }"></textarea>
                    <div *ngIf="form.diagnoses.errors" class="invalid-feedback">
                        <div *ngIf="form.diagnoses.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'consultationReason_lbl' | translate}}</label>
                    <textarea formControlName="consultationReason" maxlength="2000"  class="form-control" [ngClass]="{ 'is-invalid': form.consultationReason.errors }"></textarea>
                    <div *ngIf="form.consultationReason.errors" class="invalid-feedback">
                        <div *ngIf="form.consultationReason.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'plan_lbl' | translate}}</label>
                    <textarea formControlName="plan" maxlength="2000"  class="form-control" [ngClass]="{ 'is-invalid': form.plan.errors }"></textarea>
                    <div *ngIf="form.plan.errors" class="invalid-feedback">
                        <div *ngIf="form.plan.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'medicalBackground_lbl' | translate}}</label>
                    <textarea formControlName="medicalBackground" maxlength="2000"  class="form-control" [ngClass]="{ 'is-invalid': form.medicalBackground.errors }"></textarea>
                    <div *ngIf="form.medicalBackground.errors" class="invalid-feedback">
                        <div *ngIf="form.medicalBackground.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

               

               
               </div>
          
                    </nb-accordion-item-body>
                   </nb-accordion-item>
                <nb-accordion-item>
                 <nb-accordion-item-header>{{'medicine_lbl' | translate}}</nb-accordion-item-header>
                 <nb-accordion-item-body>
                
            <div class="row">
                <div class="col-md-4 col-xs-12 row">
                    <div class="form-group col-10" >
                        <label>{{'medication_lbl' | translate}}</label>
                        <custom-auto-complete [items]="products"
                                              [externalSearch]="true"
                                              [propertyToShow]="'name'"
                                              (onSelectedItem)="selectProduct($event)"
                                              (onFilter)="getProductsByNameAndType($event,'M')"
                                              #medicineSearch></custom-auto-complete>
                        <div *ngIf="form.productId.errors" class="invalid-feedback">
                            <div *ngIf="form.productId.errors.required">{{'required_lbl' | translate}}</div>
                        </div>
                    </div>
                </div>
               
              
                <div class="form-group col-md-4 col-xs-12" >
                    <label>{{'daysAmount_lbl' | translate}}</label>
                    <input type="number" formControlName="quantity" min="1"  
                     class="form-control" [ngClass]="{ 'is-invalid': form.quantity.errors }" />
                    <div *ngIf="form.quantity.errors" class="invalid-feedback">
                        <div *ngIf="form.quantity.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-4 col-xs-12" >
                    <label>{{'whenToTake_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.whenToTake.errors }"
                    formControlName="whenToTake"
                    >
                    <option *ngFor="let whentoTakeSelection of whentoTakeSelections"
                     [value]="whentoTakeSelection.key"
                     >{{whentoTakeSelection.value}}</option>
                    </select>
                    <div *ngIf="form.whenToTake.errors" class="invalid-feedback">
                        <div *ngIf="form.whenToTake.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-check col-md-4  col-xs-12 my-4" >
                    <input class="form-check-input" type="checkbox"  formControlName="emptyStomach"   >
                    <label class="form-check-label" for="defaultCheck2">
                        {{'emptyStomach_lbl' | translate}}
                    </label>
                  </div>
                  <div class="form-group col-md-6 col-xs-12">
                    <label>{{'additionalInfo_lbl' | translate}}</label>
                    <input type="text" formControlName="additionalData" maxlength="500" 
                     class="form-control" />
                </div>
                <div class="col-md-3 col-xs-12">
                    <i class="btn btn-primary mr-1  my-4 buttonCurson" (click)="addPrescription('M')">{{'addMedicine_btn' | translate}}</i>
                </div>
            </div>
            <div class="scrollTableMobile" *ngIf="selectedMedicines.length>0">
                <h4>{{'medications_lbl' | translate}}</h4>
                <table class="table" >
                    <thead>
                        <tr>
                            <th>{{'name_lbl' | translate}}</th>
                            <th>{{'daysAmount_lbl' | translate}}</th>
                            <th>{{'quantity_lbl' | translate}}</th>
                            <th>{{'whenToTake_lbl' | translate}}</th>
                            <th>{{'emptyStomach_lbl' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let selectedMedicine of selectedMedicines; let i=index">
                            <td>{{selectedMedicine.product.name}}</td>
                            <td>{{selectedMedicine.quantity}}</td>
                            <td>{{selectedMedicine.medicinesAmount}}</td>
                            <td>{{selectedMedicine.whenToTake | translate}}</td>
                            <td>{{selectedMedicine.emptyStomach?('yes_lbl' | translate):('no_lbl' | translate)}}</td>
                            <td><i class="btn btn-danger" (click)="deleteSelectedMedicine(i)">{{'delete_btn' | translate}}</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
                 </nb-accordion-item-body>
                </nb-accordion-item>
                <nb-accordion-item>
                    <nb-accordion-item-header>{{'consultation_lbl' | translate}}</nb-accordion-item-header>
                    <nb-accordion-item-body>
                     
            <div class="row">
                  

                <div class="form-group col-md-6 col-xs-12 row">
                   <div class="form-group col-10">
                    <label>{{'medicalSpecialities_menu' | translate}}</label>
                    <custom-auto-complete [items]="products"
                                          [externalSearch]="true"
                                          [propertyToShow]="'name'"
                                          (onSelectedItem)="selectProduct($event)"
                                          (onFilter)="getProductsByNameAndType($event,'C')"
                                          #medicalSpecialitySearch></custom-auto-complete>
                    
                   </div>
                </div>             
              
            
                  <div class="form-group col-md-6 col-xs-12">
                    <label>{{'additionalInfo_lbl' | translate}}</label>
                    <input type="text" formControlName="additionalData" maxlength="500" 
                     class="form-control" />
                </div>
                <div class="col-md-3 col-xs-12">
                    <i class="btn btn-primary mr-1  my-4 buttonCurson" (click)="addPrescription('C')">{{'add_btn' | translate}}</i>
                </div>
            </div>
            <div class="scrollTableMobile" *ngIf="selectedConsultations.length>0">
                <h4>{{'consultations_lbl' | translate}}</h4>
                <table class="table" >
                    <thead>
                        <tr>
                            <th>{{'name_lbl' | translate}}</th>
                            <th>{{'additionalInfo_lbl' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let selectedConsultation of selectedConsultations; let i=index">
                            <td>{{selectedConsultation.medicalSpeciality.name}}</td>
                            <td>{{selectedConsultation.additionalData}}</td>
                            <td><i class="btn btn-danger" (click)="deleteSelectedConsultation(i)">{{'delete_btn' | translate}}</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
                    </nb-accordion-item-body>
                   </nb-accordion-item>
                   <nb-accordion-item>
                    <nb-accordion-item-header>{{'laboratory_lbl' | translate}}</nb-accordion-item-header>
                    <nb-accordion-item-body>
                     <div>
                        <div class="col-md-12 col-xs-12 row">
                            <div class="form-group col-6" >
                                <label >{{'laboratory_lbl' | translate}}</label>
                                <input type="text" (keyup.enter)="saveNewProduct('L')" formControlName="newProduct" maxlength="100"  
                             class="form-control" />
                            </div>
                            <div class="col-3 my-2" >
                                <i class="btn btn-info btn-sm my-4 mx-2 buttonCurson" (click)="saveNewProduct('L')">{{'add_btn' | translate}}</i>
                                <i class="btn btn-danger btn-sm my-4 buttonCurson" (click)="cancelNewProduct()">{{'cancel_btn' | translate}}</i>
                            </div>
                        </div>
                        <div class="scrollTableMobile" id="labTestSelection">
           
                            <div>
                                <div class="row">
                                    <div class="col-6">
                                        <h4>{{'labTests_lbl' | translate}}</h4> 
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-xs-6"  *ngFor="let selectedLabTest of labTests; let i=index">
                                        <div *ngIf="selectedLabTest.id">
                                            <label for="vehicle1">{{selectedLabTest.name}}</label><br>
                                            <input type="checkbox"  [checked]="selectedLabTest.selected"  (click)="labTestSelection(i)">
                                        </div>
                                      
                                    </div>
                                </div>  
                            </div>
                            
                           
                        </div>

                        
        <div class="scrollTableMobile" id="selectedLabTestTable" *ngIf="selectedLabTests.length>0">
            <h4>{{'selectedlabTests_lbl' | translate}}</h4>
            <table class="table" >
                <thead>
                    <tr>
                        <th>{{'name_lbl' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let selectedLabTest of selectedLabTests; let i=index">
                        <td>{{selectedLabTest.product.name}}</td>
                        <td><i class="btn btn-danger" (click)="deleteSelectedLabTests(i)">{{'delete_btn' | translate}}</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
                      
                     </div>
                    </nb-accordion-item-body>
                   </nb-accordion-item>
                <nb-accordion-item>
                    <nb-accordion-item-header>{{'especializedImages_lbl' | translate}}</nb-accordion-item-header>
                    <nb-accordion-item-body>
                     
            <div class="row">
                <div class="col-md-6 col-xs-12 row">
                    <div class="form-group col-10" >
                        <label>{{'especializedImages_lbl' | translate}}</label>
                        <custom-auto-complete [items]="products"
                                              [externalSearch]="true"
                                              [propertyToShow]="'name'"
                                              (onSelectedItem)="selectProduct($event)"
                                              (onFilter)="getProductsByNameAndType($event,'E')"
                                              #especializedImageSearch></custom-auto-complete>
                    </div>
                </div>
               
              
                
                  <div class="form-group col-md-6 col-xs-12">
                    <label>{{'additionalInfo_lbl' | translate}}</label>
                    <input type="text" formControlName="additionalData" maxlength="500" 
                     class="form-control" />
                </div>
                <div class="col-md-3 col-xs-12">
                    <i class="btn btn-primary mr-1  my-4 buttonCurson" (click)="addPrescription('E')">{{'add_btn' | translate}}</i>
                </div>
            </div>
            
        <div class="scrollTableMobile" *ngIf="selectedImages.length>0">
            <h4>{{'especializedImages_lbl' | translate}}</h4>
            <table class="table" >
                <thead>
                    <tr>
                        <th>{{'name_lbl' | translate}}</th>
                        <th>{{'additionalInfo_lbl' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let selectedImage of selectedImages; let i=index">
                        <td>{{selectedImage.product.name}}</td>
                        <td>{{selectedImage.additionalData}}</td>
                        <td><i class="btn btn-danger" (click)="deleteSelectedImage(i)">{{'delete_btn' | translate}}</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
                    </nb-accordion-item-body>
                   </nb-accordion-item>
               </nb-accordion>
           </div>
           <br>
            
            <div class="text-center">
                <button *ngIf="this.permits.add || this.permits.update" class="btn btn-primary mr-1">{{'save_btn' | translate}}</button>
                <button class="btn btn-secondary" type="reset" (click)="cancel()">{{'cancel_btn' | translate}}</button>
            </div>
        </form>
    </div>
</div>
