<div class="card m-3">
    <h5 class="card-header">{{'patientCheckups_menu' | translate}}</h5>
    <div class="card-body">
        <form [formGroup]="itemForm" (ngSubmit)="save()">
            <div class="form-row">
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'doctor_lbl' | translate}}</label>
                    <input type="text" formControlName="doctorName" maxlength="50" minlength="3" required 
                    disabled class="form-control" [ngClass]="{ 'is-invalid':form.doctorName && form.doctorName.errors }" />
                    <div *ngIf="form.doctorName.errors" class="invalid-feedback">
                        <div *ngIf="form.doctorName.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'name_lbl' | translate}}</label>
                    <input type="text" formControlName="patientName" maxlength="50" minlength="3" required disabled class="form-control" [ngClass]="{ 'is-invalid': form.patientName.errors }" />
                    <div *ngIf="form.patientName.errors" class="invalid-feedback">
                        <div *ngIf="form.patientName.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'Padecimiento Actual' | translate}}</label>
                    <textarea formControlName="symptoms" minlength="1" required class="form-control" [ngClass]="{ 'is-invalid': form.symptoms.errors }"></textarea>
                    <div *ngIf="form.symptoms.errors" class="invalid-feedback">
                        <div *ngIf="form.symptoms.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'diagnoses_lbl' | translate}}</label>
                    <textarea formControlName="diagnoses" minlength="1" required class="form-control" [ngClass]="{ 'is-invalid': form.diagnoses.errors }"></textarea>
                    <div *ngIf="form.diagnoses.errors" class="invalid-feedback">
                        <div *ngIf="form.diagnoses.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                
                <div class="form-group col-md-12 col-xs-12">
                    <label>{{'Exploracion Fisica' | translate}}</label>
                    <textarea formControlName="exploracionFisica"  rows="100" class="form-control" ></textarea>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'Peso' | translate}}</label>
                    <input type="text" formControlName="peso" maxlength="200" class="form-control"  />
                   
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'Talla' | translate}}</label>
                    <input type="text" formControlName="talla" maxlength="200" class="form-control"  />
                   
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'Temperatura' | translate}} (Celsius)</label>
                    <input type="number" formControlName="temperatura" maxlength="200" class="form-control"  />
                   
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'FC' | translate}}</label>
                    <input type="text" formControlName="fc" maxlength="200" class="form-control"  />
                   
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'FR' | translate}}</label>
                    <input type="text" formControlName="fr" maxlength="200" class="form-control"  />
                   
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'Sat' | translate}}</label>
                    <input type="text" formControlName="sat" maxlength="200" class="form-control"  />
                   
                </div>

           </div>
           <div class="my-3">
               <h3>{{'attachments_lbl' | translate}}</h3>
               <div class="row my-1" *ngFor="let attachment of attachments; let i=index">
                <div class="col-md-6 col-xs-6">
                 <a  [href]="setLink(attachment)" target="_blank">{{attachment.fileAttachment.fileName}}</a>
                </div>
                <div class="col-md-6 col-xs-6">
                 <button type="button" (click)="removeAttachment(attachment.id)"  [disabled]="(!editing || editing<1)" class="btn btn-danger">{{'delete_btn' | translate}}</button>
                </div> 
            </div>
           </div>
         
           <div class="row my-1">
               <div class="col-md-6 col-xs-12">
                <input type="file" class="form-control" name="file" ng2FileSelect [uploader]="uploader" />
               </div>
               <div class="col-md-6 col-xs-12">
                   <button type="button" class="btn btn-primary"
                   (click)="uploader.uploadAll()"
                   [disabled]="(!editing || editing<1) || !uploader.getNotUploadedItems().length"
                   >{{'upload_btn' | translate}}</button>
                
            </div>
           </div>
           <div class="row">
            <div class="form-group col-md-3 col-xs-12">
                <label>{{'prescriptionTypes_lbl' | translate}}</label>
                <select class="form-control"
                formControlName="prescriptionType"
                >
                <option *ngFor="let type of prescriptionTypes"
                 [value]="type.id"
                 >{{type.name}}</option>
                </select>
            </div>  
            
             
        </div>
        <div *ngIf="prescriptionType">
            <div class="row">
            
                <div class="col-md-4 col-xs-12 row" *ngIf="prescriptionType!='C' && prescriptionType!='L' && !newProduct">
                    <div class="form-group col-10" >
                        <label *ngIf="prescriptionType=='M'">{{'medication_lbl' | translate}}</label>
                        <label *ngIf="prescriptionType=='E'">{{'especializedImages_lbl' | translate}}</label>
                        <select class="form-control"
                        [ngClass]="{ 'is-invalid': form.productId.errors }"
                        formControlName="productId"
                        >
                        <option *ngFor="let medicine of products"
                         [value]="medicine.id"
                         >{{medicine.name}}</option>
                        </select>
                        <div *ngIf="form.productId.errors" class="invalid-feedback">
                            <div *ngIf="form.productId.errors.required">{{'required_lbl' | translate}}</div>
                        </div>
                    </div>
                    <div class="col-2 my-2" style="margin-left:-5%;">
                        <i class="btn btn-success btn-sm my-4" (click)="addProduct()">+</i>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 row" *ngIf="prescriptionType!='C' && prescriptionType!='L' && newProduct">
                    <div class="form-group col-10" >
                        <label *ngIf="prescriptionType=='M'">{{'medication_lbl' | translate}}</label>
                        <label *ngIf="prescriptionType=='E'">{{'especializedImages_lbl' | translate}}</label>
                        <input type="text" formControlName="newProduct" minlength="1" maxlength="100"  
                     class="form-control" [ngClass]="{ 'is-invalid': form.newProduct && form.newProduct.errors }" />
                    <div *ngIf="form.newProduct && form.newProduct.errors" class="invalid-feedback">
                        <div *ngIf="form.newProduct && form.newProduct.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                    </div>
                    <div class="col-2 my-2" style="margin-left:-5%;">
                        <i class="btn btn-info btn-sm my-4" (click)="saveNewProduct()">{{'add_btn' | translate}}</i>
                        <i class="btn btn-danger btn-sm my-4" (click)="cancelNewProduct()">{{'cancel_btn' | translate}}</i>
                    </div>
                </div>

                <div class="form-group col-md-4 col-xs-12" *ngIf="prescriptionType=='C'">
                    <label>{{'medicalSpeciality_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.medicalSpecialityId.errors }"
                    formControlName="medicalSpecialityId"
                    >
                    <option *ngFor="let medicalSpeciality of medicalSpecialities"
                     [value]="medicalSpeciality.id"
                     >{{medicalSpeciality.name}}</option>
                    </select>
                    <div *ngIf="form.medicalSpecialityId.errors" class="invalid-feedback">
                        <div *ngIf="form.medicalSpecialityId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
               
              
                <div class="form-group col-md-4 col-xs-12" *ngIf="prescriptionType=='M'">
                    <label>{{'quantity_lbl' | translate}}</label>
                    <input type="number" formControlName="quantity" min="1"  
                     class="form-control" [ngClass]="{ 'is-invalid': form.quantity.errors }" />
                    <div *ngIf="form.quantity.errors" class="invalid-feedback">
                        <div *ngIf="form.quantity.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-4 col-xs-12" *ngIf="prescriptionType=='M'">
                    <label>{{'whenToTake_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.whenToTake.errors }"
                    formControlName="whenToTake"
                    >
                    <option *ngFor="let whentoTakeSelection of whentoTakeSelections"
                     [value]="whentoTakeSelection"
                     >{{whentoTakeSelection}}</option>
                    </select>
                    <div *ngIf="form.whenToTake.errors" class="invalid-feedback">
                        <div *ngIf="form.whenToTake.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-check col-md-4  col-xs-12 my-4" *ngIf="prescriptionType=='M'">
                    <input class="form-check-input" type="checkbox"  formControlName="emptyStomach"   >
                    <label class="form-check-label" for="defaultCheck2">
                        {{'emptyStomach_lbl' | translate}}
                    </label>
                  </div>
                  <div class="form-group col-md-6 col-xs-12">
                    <label>{{'additionalInfo_lbl' | translate}}</label>
                    <input type="text" formControlName="additionalData" maxlength="500" 
                     class="form-control" />
                </div>
                <div class="col-md-3 col-xs-12">
                  <button type="button" class="btn btn-primary mr-1  my-4" [disabled]="!editing || editing<1" (click)="addPrescription()">{{'addMedicine_btn' | translate}}</button>             
                </div>
            </div>
        </div>

        <div class="scrollTableMobile" id="labTestSelection" *ngIf="prescriptionType=='L'">
            <h4>{{'labTests_lbl' | translate}}</h4>
            <div class="row">
                <div class="col-md-3 col-xs-6"  *ngFor="let selectedLabTest of products; let i=index">
                    <div *ngIf="selectedLabTest.id && selectedLabTest.id>0">
                        <label for="vehicle1">{{selectedLabTest.name}}</label><br>
                        <input type="checkbox"   (click)="labTestSelection(i)">
                    </div>
                  
                </div>
            </div>
           
        </div>
        <div class="scrollTableMobile" *ngIf="selectedMedicines.length>0">
            <h4>{{'medications_lbl' | translate}}</h4>
            <table class="table" >
                <thead>
                    <tr>
                        <th>{{'name_lbl' | translate}}</th>
                        <th>{{'quantity_lbl' | translate}}</th>
                        <th>{{'whenToTake_lbl' | translate}}</th>
                        <th>{{'emptyStomach_lbl' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let selectedMedicine of selectedMedicines; let i=index">
                        <td>{{selectedMedicine.product.name}}</td>
                        <td>{{selectedMedicine.quantity}}</td>
                        <td>{{selectedMedicine.whenToTake}}</td>
                        <td>{{selectedMedicine.emptyStomach?('yes_lbl' | translate):('no_lbl' | translate)}}</td>
                        <td><button type="button" class="btn btn-danger" [disabled]="!editing || editing<1" (click)="deleteSelectedMedicine(i)">{{'delete_btn' | translate}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="scrollTableMobile" *ngIf="selectedImages.length>0">
            <h4>{{'specializedImages_lbl' | translate}}</h4>
            <table class="table" >
                <thead>
                    <tr>
                        <th>{{'name_lbl' | translate}}</th>
                        <th>{{'additionalInfo_lbl' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let selectedImage of selectedImages; let i=index">
                        <td>{{selectedImage.product.name}}</td>
                        <td>{{selectedImage.additionalData}}</td>
                        <td><button type="button" class="btn btn-danger" [disabled]="!editing || editing<1" (click)="deleteSelectedImage(i)">{{'delete_btn' | translate}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="scrollTableMobile" *ngIf="selectedConsultations.length>0">
            <h4>{{'consultations_lbl' | translate}}</h4>
            <table class="table" >
                <thead>
                    <tr>
                        <th>{{'name_lbl' | translate}}</th>
                        <th>{{'additionalInfo_lbl' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let selectedConsultation of selectedConsultations; let i=index">
                        <td>{{selectedConsultation.medicalSpeciality.name}}</td>
                        <td>{{selectedConsultation.additionalData}}</td>
                        <td><button type="button" class="btn btn-danger" [disabled]="!editing || editing<1" (click)="deleteSelectedConsultation(i)">{{'delete_btn' | translate}}</button></td>
                       >
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="scrollTableMobile" id="selectedLabTestTable" *ngIf="selectedLabTests.length>0">
            <h4>{{'selectedlabTests_lbl' | translate}}</h4>
            <table class="table" >
                <thead>
                    <tr>
                        <th>{{'name_lbl' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let selectedLabTest of selectedLabTests; let i=index">
                        <td>{{selectedLabTest.product.name}}</td>
                        <td><button type="button" class="btn btn-danger" [disabled]="!editing || editing<1" (click)="deleteSelectedLabTests(i)">{{'delete_btn' | translate}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
           <br>
            
            <div class="text-center">
                <button class="btn btn-primary mr-1" [disabled]="!editing || editing<1">{{'save_btn' | translate}}</button>
                <button class="btn btn-secondary" type="reset" (click)="cancel()">{{'cancel_btn' | translate}}</button>
            </div>
        </form>
    </div>
</div>