<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-3 col-xs-6">{{'patientCheckups_menu' | translate}}</div>
      <div class="col-md-3 col-xs-6">
        <button type="button" class="btn btn-primary" *ngIf="this.permits.add" (click)="addNew()">{{'add_btn' | translate}}</button>
    </div>
    <div class="col-md-3 col-xs-6">
      <button type="button" class="btn btn-primary"[disabled]="appointmentId<=0" *ngIf="this.permits.update" (click)="editAppointment()">{{'editAppointment_btn' | translate}}</button>
  </div>
    </div>

  </nb-card-header>

  <nb-card-body>
<div class="row">
  <div class="col-md-4 col-xs-12">
    <table>
      <tbody>
        <tr>
          <td class="patientInfo">{{'name_lbl' | translate}}: </td>
          <td>{{patient.nameAndCode}}</td>
        </tr>

        <tr>
          <td class="patientInfo">{{'age_lbl' | translate}}: </td>
          <td>{{patient.age}}</td>
        </tr>

        <tr>
          <td class="patientInfo">{{'bloodType_lbl' | translate}}: </td>
          <td>{{patient.bloodType}}</td>
        </tr>
        <tr>
          <td class="patientInfo">{{'phoneNumber_lbl' | translate}}: </td>
          <td>{{patient.phoneNumber}}</td>
        </tr>
        <tr>
          <td class="patientInfo">{{'insurance_lbl' | translate}}: </td>
          <td>{{patient.insurance?patient.insurance.name:''}}</td>
        </tr>
        <tr>
          <td class="patientInfo">{{'insurancePlan_lbl' | translate}}: </td>
          <td>{{patient.insurancePlan?patient.insurancePlan.name:''}}</td>
        </tr>

        <tr>
          <td class="patientInfo">{{'insuranceCard_lbl' | translate}}: </td>
          <td>{{patient.insuranceCardId}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-8 col-xs-12">
<div *ngFor="let checkup of patientCheckups" class="checkupsHistory">
  <div class="form-row my-1 mx-1">
    <div class="form-group col-md-12 col-xs-12">
      <label>{{'date_lbl' | translate}}</label>
      <input type="text" [value]="checkup.dayFormatted"
      disabled class="form-control" />

  </div>
    <div class="form-group col-md-12 col-xs-12">
        <label>{{'doctor_lbl' | translate}}</label>
        <input type="text" [value]="checkup.doctor.fullName"
        disabled class="form-control" />

    </div>

    <div class="form-group col-md-12 col-xs-12">
        <label>{{'symptoms_lbl' | translate}}</label>
        <textarea disabled class="form-control" [value]="checkup.symptoms" ></textarea>
    </div>

    <div class="form-group col-md-12 col-xs-12">
        <label>{{'diagnoses_lbl' | translate}}</label>
        <textarea disabled class="form-control" [value]="checkup.diagnoses"></textarea>
    </div>

</div>
<div class="text-center my-1">
  <button class="btn btn-primary mr-1" (click)="getCheckupDetails(checkup)">{{'details_btn' | translate}}</button>
  <button class="btn btn-secondary"  (click)="editCheckup(checkup)">{{'edit_btn' | translate}}</button>
  <button class="btn btn-info mx-1"  (click)="printCheckup(checkup.id)">{{'print_btn' | translate}}</button>
</div>
</div>
  </div>
</div>
  </nb-card-body>
</nb-card>

