
  
        <form [formGroup]="itemForm" (ngSubmit)="save()">
                  
            <div class="row">
                <nb-accordion style="width: 100%;" class="my-2">
                    <nb-accordion-item>
                     <nb-accordion-item-header>{{'invoiceInfo_lbl' | translate}}</nb-accordion-item-header>
                     <nb-accordion-item-body>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label>{{'patient_lbl' | translate}}</label>
                                <select class="form-control"
                                [ngClass]="{ 'is-invalid': form.patientId.errors }"
                                formControlName="patientId"
                                required
                                >
                                <option *ngFor="let patient of patients"
                                 [value]="patient.id"
                                 >{{patient.name}} {{patient.code}}</option>
                                </select>
                                <div *ngIf="form.patientId.errors" class="invalid-feedback">
                                    <div *ngIf="form.patientId.errors.required">{{'required_lbl' | translate}}</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label>{{'trnControl_lbl' | translate}}</label>
                                <select class="form-control"
                                [ngClass]="{ 'is-invalid': form.trnType.errors }"
                                formControlName="trnType"
                                required
                                >
                                <option *ngFor="let trnControl of trnControls"
                                 [value]="trnControl.type"
                                 >{{trnControl.name}}</option>
                                </select>
                                <div *ngIf="form.trnType.errors" class="invalid-feedback">
                                    <div *ngIf="form.trnType.errors.required">{{'required_lbl' | translate}}</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label>{{'insurance_lbl' | translate}}</label>
                                <input type="text" formControlName="insuranceName" [attr.disabled]="true"  class="form-control"/>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label>{{'insurancePlan_lbl' | translate}}</label>
                                <input type="text" formControlName="insurancePlanName" [attr.disabled]="true"  class="form-control"/>
                            </div>
                           
                            <div class="form-group col-md-6 col-xs-12">
                                <label>{{'cardId_lbl' | translate}}</label>
                                <input type="text" formControlName="nrc" [attr.disabled]="id>0"  class="form-control"/>
                            </div>
                           
            
                            <div class="form-group col-md-6 col-xs-12">
                                <label>{{'patientAppointments_lbl' | translate}}</label>
                                <select class="form-control"
                                [ngClass]="{ 'is-invalid': form.appointmentId.errors }"
                                formControlName="appointmentId"
                                
                                >
                                <option *ngFor="let appointment of appointments"
                                 [value]="appointment.id"
                                 >{{appointment.dateFormatted}}</option>
                                </select>
                                <div *ngIf="form.appointmentId.errors" class="invalid-feedback">
                                    <div *ngIf="form.appointmentId.errors.required">{{'required_lbl' | translate}}</div>
                                </div>
                            </div>
            
                            
            
                            <div class="form-group col-md-6 col-xs-12">
                                <label>{{'currency_lbl' | translate}}</label>
                                <input type="text" formControlName="currencyName"  disabled class="form-control"/>
                            </div>
            
                            <div class="form-group col-md-6 col-xs-12 d-none">
                                <label>{{'billInvoice_lbl' | translate}}</label>
                                <div class="switch">
                                    <input type="checkbox"  formControlName="inventoryModified">
                                    <span class="slider"></span>
                                  </div>
                              
                            </div>
            
                            <div class="form-group col-md-6 col-xs-12">
                                <label>{{'discountRate_lbl' | translate}}</label>
                                <input type="number" formControlName="discountRate" min="0" max="100" class="form-control"/>
                            </div>
            
                            
                            <div class="form-group col-md-6 col-xs-12">
                                <label>{{'warehouse_lbl' | translate}}</label>
                                <select class="form-control"
                                [ngClass]="{ 'is-invalid': form.warehouseId.errors }"
                                formControlName="warehouseId"
                                
                                >
                                <option *ngFor="let warehouse of warehouses"
                                 [value]="warehouse.id"
                                 >{{warehouse.name}}</option>
                                </select>
                                <div *ngIf="form.warehouseId.errors" class="invalid-feedback">
                                    <div *ngIf="form.warehouseId.errors.required">{{'required_lbl' | translate}}</div>
                                </div>
                            </div>
            
            
                   
                        </div>
               
                     </nb-accordion-item-body>
                    </nb-accordion-item>
                    <nb-accordion-item>
                        <nb-accordion-item-header>{{'newItems_lbl' | translate}}</nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-xs-12">
                                    <label>{{'type_lbl' | translate}}</label>
                                    <select class="form-control"
                                    [ngClass]="{ 'is-invalid': form.type.errors }"
                                    formControlName="type"
                                    required
                                    >
                                    <option *ngFor="let type of types"
                                     [value]="type.id"
                                     >{{type.name}}</option>
                                    </select>
                                    <div *ngIf="form.type.errors" class="invalid-feedback">
                                        <div *ngIf="form.type.errors.required">{{'required_lbl' | translate}}</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-xs-12">
                                    <label>{{'product_lbl' | translate}}</label>
                                    <select class="form-control"
                                    [ngClass]="{ 'is-invalid': form.productId.errors }"
                                    formControlName="productId"
                                    required
                                    >
                                    <option *ngFor="let product of products"
                                     [value]="product.id"
                                     >{{product.name}}</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        <div *ngIf="form.productId.errors">{{'required_lbl' | translate}}</div>
                                    </div>
                                    <div class="my-1 " style="color:red;" *ngFor="let inventory of inventories">
                                        <div >{{inventory.warehouse.name}}: {{inventory.quantity}} {{inventory.unit.name}}</div>
                                    </div>
                                </div>
                
                                <div class="form-group col-md-2 col-xs-4">
                                    <label>{{'unit_lbl' | translate}}</label>
                                    <select class="form-control"
                                    [ngClass]="{ 'is-invalid': form.unitId.errors }"
                                    formControlName="unitId"
                                    >
                                    <option *ngFor="let unit of productUnits"
                                     [value]="unit.unitId"
                                     >{{unit.unit.name}}</option>
                                    </select>
                                   
                                </div>
                
                                <div class="form-group col-md-2 col-xs-4">
                                    <label>{{'price_lbl' | translate}}</label>
                                    <select class="form-control"
                                    formControlName="selectedPrice"
                                    >
                                    <option *ngFor="let price of productPrices"
                                     [value]="price.price"
                                     >{{price.price | currency:""}} {{price.currency}}</option>
                                    </select>
                                   
                                </div>
                
                                
                               
                                <div class="form-group col-md-6 col-xs-12">
                                    <label>{{'quantity_lbl' | translate}}</label>
                                    <input type="number" formControlName="quantity" required class="form-control" min="1" [ngClass]="{ 'is-invalid':form.quantity && form.quantity.errors }" />
                                    <div *ngIf="form.quantity.errors" class="invalid-feedback">
                                        <div *ngIf="form.quantity.required">{{'required_lbl' | translate}}</div>
                                    </div>
                                </div>
                                
                               
                                <div class="form-group col-md-6 col-xs-12">
                                    <label>{{'unitPrice_lbl' | translate}}</label>
                                    <input type="number" formControlName="productPrice"class="form-control"   />
                                  
                                </div>
                                <div class="form-group col-md-6 col-xs-12">
                                    <label>{{'beforeTaxesAmount_lbl' | translate}}</label>
                                    <input type="number" formControlName="beforeTaxesAmount"class="form-control" disabled />
                                  
                                </div>
                                <div class="form-check form-group col-md-3  col-xs-4 mx-4 my-4">
                                    <input class="form-check-input" type="checkbox"  formControlName="noTaxes"    >
                                    <label class="form-check-label" for="defaultCheck2">
                                        {{'exo_lbl' | translate}}
                                    </label>
                                  </div>
                                <div class="form-group col-md-6 col-xs-12">
                                    <label>{{'taxAmount_lbl' | translate}}</label>
                                    <input type="number" formControlName="taxesAmount"class="form-control" disabled  />
                                  
                                </div>
                                <div class="form-group col-md-6 col-xs-12">
                                    <label>{{'totalAmount_lbl' | translate}}</label>
                                    <input type="number" formControlName="totalAmount" disabled class="form-control" />
                                  
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <i class="btn btn-primary mr-1  my-4 buttonCurson" (click)="addEntry()">{{'add_btn' | translate}}</i>
                                </div>
                            </div>
                
             
                        </nb-accordion-item-body>
                       </nb-accordion-item>
                       <nb-accordion-item>
                        <nb-accordion-item-header>{{'creditNoteInfo_lbl' | translate}}</nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-xs-12">
                                    <label>{{'creditNote_lbl' | translate}}</label>
                                    <input type="text" formControlName="appliedCreditNote" maxlength="50" class="form-control"/>
                                </div>
                
                                <div class="form-group col-md-6 col-xs-12">
                                    <label>{{'creditNoteAmount_lbl' | translate}}</label>
                                    <input type="number" formControlName="appliedCreditNoteAmount" class="form-control"/>
                                </div>
                            </div>
                        </nb-accordion-item-body>
                       </nb-accordion-item>
                   
                   </nb-accordion>
               </div>
               <div class="scrollTableMobile">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{'product_lbl' | translate}}</th>
                            <th>{{'unit_lbl' | translate}}</th>
                            <th>{{'quantity_lbl' | translate}}</th>
                            <th>{{'totalAmount_lbl' | translate}}</th>
                            <th>{{'insuranceCoverageAmount_lbl' | translate}}</th>
                            <th>{{'patientPaymentAmount_lbl' | translate}}</th>
                            <th>{{'insuranceApprovalCode_lbl' | translate}}</th>
                            <th>{{'noCoverage_lbl' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of entries;let i=index">
                            <td>{{entry.product.name}}</td>
                            <td>{{entry.unit?entry.unit.name:''}}</td>
                            <td ><input type="number"
                                 [formControlName]="('unitQuantity_'+i)" 
                                 required 
                                 [disabled]="isEditing || entry.appointmentId"
                                 (change)="GetDetailProductTaxes(i)"
                                 class="form-control"
                                  min="1"
                                   [ngClass]="{ 'is-invalid':form[('unitQuantity_'+i)] && form[('unitQuantity_'+i)].errors }" />
                            </td>
                            
                            <td>{{entry.totalAmount | currency:""}}</td>
                            <td>{{entry.insuranceCoverageAmount | currency:""}}</td>
                            <td>{{entry.patientPaymentAmount | currency:""}}</td>
                            <td><input type="text"
                                *ngIf="entry.appointmentId"
                                [formControlName]="('insuranceApprovalCode_'+i)" 
                                required 
                                class="form-control"
                                  [ngClass]="{ 'is-invalid':form[('insuranceApprovalCode_'+i)] && form[('insuranceApprovalCode_'+i)].errors }" />
                        </td>
                        <td><input type="checkbox" [formControlName]="('noCoverage_'+i)" (change)="setCoverageValue(i)" ></td>
                            <td><button type="button" class="btn btn-danger" [disabled]="entry.appointmentId" (click)="deleteEntry(i)">{{'delete_btn' | translate}}</button></td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
                <table *ngIf="entries && entries.length>0" class="table table-bordered text-center">
                    <thead>
                      <tr >
                        <th>{{'totalAmount_lbl' | translate}}</th>
                        <th>{{'insuranceCoverageAmount_lbl' | translate}}</th>
                        <th>{{'patientPaymentAmount_lbl' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{formValues.totalAmount | currency:""}}</td>
                        <td>{{formValues.insuranceCoverageAmount | currency:""}}</td>
                        <td>{{formValues.patientPaymentAmount | currency:""}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="text-center">
                <button *ngIf="this.permits.add || this.permits.update" class="btn btn-primary mr-1">{{'save_btn' | translate}}</button>
                <button class="btn btn-secondary" type="reset" (click)="cancel()">{{'cancel_btn' | translate}}</button>
            </div>
        </form>

