<div class="card m-3">
    <h5 class="card-header">{{'branchOffice_menu' | translate}}</h5>
    <div class="card-body">
        <form [formGroup]="itemForm" (ngSubmit)="save()">
            <div class="form-row">
               
                <div class="form-group col-6">
                    <label>{{'name_lbl' | translate}}</label>
                    <input type="text" formControlName="name" maxlength="100" minlength="3" class="form-control" [ngClass]="{ 'is-invalid': form.name.errors }" />
                    <div *ngIf="form.name.errors" class="invalid-feedback">
                        <div *ngIf="form.name.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-6">
                    <label>{{'address_lbl' | translate}}</label>
                    <input type="text" formControlName="address" maxlength="200" minlength="3" class="form-control" [ngClass]="{ 'is-invalid': form.address.errors }" />
                    <div *ngIf="form.address.errors" class="invalid-feedback">
                        <div *ngIf="form.address.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-6">
                    <label>{{'phoneNumber_lbl' | translate}}</label>
                    <input type="text" formControlName="phoneNumber" maxlength="50" minlength="3" class="form-control" [ngClass]="{ 'is-invalid': form.phoneNumber.errors }" />
                    <div *ngIf="form.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="form.phoneNumber.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>{{'nrc_lbl' | translate}}</label>
                    <input type="text" formControlName="nrc" maxlength="50" minlength="3" class="form-control" [ngClass]="{ 'is-invalid': form.nrc.errors }" />
                    <div *ngIf="form.nrc.errors" class="invalid-feedback">
                        <div *ngIf="form.nrc.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-6">
                    <label>{{'email_lbl' | translate}}</label>
                    <input type="text" formControlName="email" maxlength="100" minlength="3" class="form-control" [ngClass]="{ 'is-invalid': form.email.errors }" />
                    <div *ngIf="form.email.errors" class="invalid-feedback">
                        <div *ngIf="form.email.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
               
            </div>
           
            
            <div class="text-center">
                <button class="btn btn-primary mr-1" *ngIf="this.permits.add || this.permits.update">{{'save_btn' | translate}}</button>
                <button class="btn btn-secondary" type="reset" (click)="cancel()">{{'cancel_btn' | translate}}</button>
            </div>
        </form>
    </div>
</div>