<div class="card m-3">
    <h5 class="card-header">{{'patients_menu' | translate}}</h5>
    <div class="card-body">
        <form [formGroup]="itemForm"  (keydown.enter)="$event.preventDefault()" (ngSubmit)="save()">
            <div class="form-row">
               
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'name_lbl' | translate}}</label>
                    <input type="text" formControlName="name" maxlength="50" minlength="3" required class="form-control" [ngClass]="{ 'is-invalid': form.name.errors }" />
                    <div *ngIf="form.name.errors" class="invalid-feedback">
                        <div *ngIf="form.name.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'cardId_lbl' | translate}}</label>
                    <input type="text" formControlName="cardId"  maxlength="20" class="form-control"  />
                   
                </div>

              

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'bloodType_lbl' | translate}}</label>
                    <select class="form-control"
                    
                    [ngClass]="{ 'is-invalid': form.bloodType.errors }"
                    formControlName="bloodType"
                    >
                    <option *ngFor="let bloodTypeText of bloodTypes"
                     [value]="bloodTypeText"
                     >{{bloodTypeText}}</option>
                    </select>
                    <div *ngIf="form.bloodType.errors" class="invalid-feedback">
                        <div *ngIf="form.bloodType.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'birthDate_lbl' | translate}}</label>
                    <input type="date" formControlName="birthDate" class="form-control" [ngClass]="{ 'is-invalid': form.birthDate.errors }" />
                    <div *ngIf="form.birthDate.errors" class="invalid-feedback">
                        <div *ngIf="form.birthDate.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

               
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'phoneNumber_lbl' | translate}}</label>
                    <input type="text" formControlName="phoneNumber" maxlength="20" minlength="3" class="form-control" [ngClass]="{ 'is-invalid': form.phoneNumber.errors }" />
                    <div *ngIf="form.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="form.phoneNumber.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'address_lbl' | translate}}</label>
                    <textarea 
                    formControlName="address" 
                    minlength="1" 
                    maxlength="200" 
                    required 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': form.address.errors }"
                    ></textarea>
                    <div *ngIf="form.address.errors" class="invalid-feedback">
                        <div *ngIf="form.address.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

               
               
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'currency_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.currencyId.errors }"
                    formControlName="currencyId"
                    >
                    <option *ngFor="let currency of currencies"
                     [value]="currency.id"
                     >{{currency.name}}</option>
                    </select>
                    <div *ngIf="form.currencyId.errors" class="invalid-feedback">
                        <div *ngIf="form.currencyId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

               
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'trnControl_lbl' | translate}}</label>
                    <select class="form-control"
                    [ngClass]="{ 'is-invalid': form.trnControlId.errors }"
                    formControlName="trnControlId"
                    >
                    <option *ngFor="let trnControl of trnControls"
                     [value]="trnControl.id"
                     >{{trnControl.name}}</option>
                    </select>
                    <div *ngIf="form.trnControlId.errors" class="invalid-feedback">
                        <div *ngIf="form.trnControlId.errors.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'insurance_lbl' | translate}}</label>
                    <select class="form-control"
                    formControlName="insuranceId"
                    >
                    <option *ngFor="let insurance of insurances"
                     [value]="insurance.id"
                     >{{insurance.name}}</option>
                    </select>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'insurancePlan_lbl' | translate}}</label>
                    <select class="form-control"
                    formControlName="insurancePlanId"
                    >
                    <option *ngFor="let insurancePlan of insurancePlans"
                     [value]="insurancePlan.id"
                     >{{insurancePlan.name}}</option>
                    </select>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'insuranceCardId_lbl' | translate}}</label>
                    <input type="text" formControlName="insuranceCardId" minlength="1" maxlength="20" class="form-control"  />
                    
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'code_lbl' | translate}}</label>
                    <input type="text" formControlName="code" maxlength="50" disabled class="form-control" />
                   
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'alergies_lbl' | translate}}</label>
                    <textarea 
                    formControlName="alergies" 
                    maxlength="1000" 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': form.alergies.errors }"
                    ></textarea>
                    <div *ngIf="form.alergies.errors" class="invalid-feedback">
                        <div *ngIf="form.alergies.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'bloodTransfusions_lbl' | translate}}</label>
                    <textarea 
                    formControlName="bloodTransfusions" 
                    maxlength="1000" 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': form.bloodTransfusions.errors }"
                    ></textarea>
                    <div *ngIf="form.bloodTransfusions.errors" class="invalid-feedback">
                        <div *ngIf="form.bloodTransfusions.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'familyIllnesses_lbl' | translate}}</label>
                    <textarea 
                    formControlName="familyIllnesses" 
                    maxlength="1000" 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': form.familyIllnesses.errors }"
                    ></textarea>
                    <div *ngIf="form.familyIllnesses.errors" class="invalid-feedback">
                        <div *ngIf="form.familyIllnesses.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'medications_lbl' | translate}}</label>
                    <textarea 
                    formControlName="medications" 
                    maxlength="1000" 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': form.medications.errors }"
                    ></textarea>
                    <div *ngIf="form.medications.errors" class="invalid-feedback">
                        <div *ngIf="form.medications.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'surgeries_lbl' | translate}}</label>
                    <textarea 
                    formControlName="surgeries" 
                    maxlength="1000" 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': form.surgeries.errors }"
                    ></textarea>
                    <div *ngIf="form.surgeries.errors" class="invalid-feedback">
                        <div *ngIf="form.surgeries.required">{{'required_lbl' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'sc_lbl' | translate}}</label>
                    <input type="number" min="0" step="0.1" formControlName="sc"  class="form-control" [ngClass]="{ 'is-invalid': form.sc.errors }" />
                   
                </div>

               

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'sizeCm_lbl' | translate}}</label>
                    <input type="number" min="0" step="0.1" formControlName="size"  class="form-control" [ngClass]="{ 'is-invalid': form.size.errors }" />
                   
                </div>

                <div class="form-group col-md-6 col-xs-12">
                    <label>{{'weightKg_lbl' | translate}}</label>
                    <input type="number" min="0" step="0.1" formControlName="weight"  class="form-control" [ngClass]="{ 'is-invalid': form.weight.errors }" />
                   
                </div>

               
               
            </div>
          
          
            <div class="text-center">
                <button *ngIf="this.permits.add || this.permits.update" class="btn  btn-primary mr-1">{{'save_btn' | translate}}</button>
                <button class="btn btn-secondary" type="reset" (click)="cancel()">{{'cancel_btn' | translate}}</button>
            </div>
        </form>
    </div>
</div>
